//colors

//red
$red : #E2574C;
$red-dark: #cb4e44;
$red-lighter: #e87970;

//green
$green : #3db39e;
$green-dark : #37a18e;
$green-lighter: #64c2b1;
//gray
$gray: #d5d5d5;
$gray-dark: #bfbfbf;
$gray-lighter: #dddddd;
